<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesuda.dao.MenuDao">

    <select id="menuList" resultType="sesuda.dto.MenuDTO">
        select * from menu;
    </select>

    <insert id="order" parameterType="sesuda.dto.MenuDTO">
        insert into orders (
            order_uid
            ,member_uid
            ,menu_uid
            ,add_shot
            ,add_milk
            ,add_syrup
            ,select_bean
            ,count
            ,order_date
            ,order_state
        )
        values (
            nextval('order_seq')
            ,#{memberUid}
            ,#{menuUid}
            ,#{addShot}
            ,#{addMilk}
            ,#{addSyrup}
            ,#{selectBean}
            ,#{count}
            ,now()
            ,1
        );
    </insert>



</mapper>