<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesuda.dao.MenuDao">

    <select id="menuList" resultType="sesuda.dto.MenuDTO">
        select * from menu;
    </select>

    <insert id="order" parameterType="sesuda.dto.MenuDTO">
        insert into orders (
            order_uid
            ,member_uid
            ,menu_uid
            ,add_shot
            ,add_milk
            ,add_syrup
            ,select_bean
            ,order_date
            ,order_state
            ,cup
        )
        values (
            #{orderUid}
            ,#{memberUid}
            ,#{menuUid}
            ,#{addShot}
            ,#{addMilk}
            ,#{addSyrup}
            ,#{selectBean}
            ,now()
            ,1
            ,#{cup}
        );
    </insert>

    <select id="sequence" resultType="int">
        select COALESCE (max(order_uid), 1)
        from orders;
    </select>



</mapper>